.navbar {
  background-color: #282c34;
  padding: 1rem;
  position: sticky;
  top: 0;
  display: flex;
}

.navList {
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 0 2rem;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.navItem {
  color: white;
}

.navItem a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.navItem a:hover {
  background-color: #61dafb;
  border-radius: 5px;
}